
<div class="jumbotron jumbotron-fluid p-5">
  <div class="container-fluid text-center">
    <h1 class="display-4">Quiz App</h1>
    <p class="lead">An app that helps you study up for trivia night and impress your friends with all your knowledge!</p>
  </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-3">

            <h3 class="text-center">Leaderboard</h3>
            
            <ul>
                <li>JLM: 50</li>
                <li>RMM: 20</li>
                <li>OFM: 60</li>
            </ul>

        </div>
        <div class="col-6 d-flex justify-content-center border-right border-left quiz-div">

            

        </div>
        <div class="col-3 text-center">

            <h3>Timer</h3>
            <h4>60</h4>

        </div>
    </div>
</div>



